.cirti, .cover{
    width: 100%;
  
    margin-top: 20px;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.cirti > img {
    width: 50vw;
}

.cirti-info{
    width: 40vw;
    margin: auto;
    text-align: justify;
    margin-top: 25px;
}

.verify{
    color: #242424;
    padding: 1px 20px;
    font-size: 17px;
}

.cover > img {
    width: 23%;
}

a{
    text-decoration: none;
    color: rgb(94, 80, 80);
}

.more_info:hover , .cirti-list > li > a:hover{
    color: black;
}

.cirti-list > li {
    margin-left: 30px;
}

@media screen and (max-width:960px){
    .cirti > img {
        width: 85vw;
    }

    .cirti-info{
        width: 66vw;
      
    }

    .cover > img {
        width: 49vw;
    }

}


