video{
    object-fit: cover; 
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: -1;
   
}

.hero-container{
  /*background: url('/image/') center center/cover no-repeat;*/
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
    object-fit: contain; 
}

#profile-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 150px;
    margin-top: 5vh;
}
